.brand1-desktop-theme {
          --font-weights-headlines-300: Light;
  --font-weights-headlines-400: Book;
  --font-weights-headlines-600: Medium;
  --font-weights-headlines-700: Bold;
  --font-weights-body-300: Light;
  --font-weights-body-400: Regular;
  --font-weights-body-600: SemiBold;
  --font-weights-body-700: Bold;
  --font-weights-nav-mobile-l1: Bold;
  --font-weights-nav-mobile-l2: Regular;
  --font-weights-nav-desktop-l1: Bold;
  --font-weights-nav-desktop-l2: Regular;
  --line-heights-headlines-xl: 110%;
  --line-heights-headlines-lg: 110%;
  --line-heights-headlines-default: 110%;
  --line-heights-headlines-sm: 130%;
  --line-heights-body-relaxed: 175%;
  --line-heights-body-default: 150%;
  --font-size-base: 18px;
  --font-size-scale: 1.333px;
  --font-size-xxs: 8px;
  --font-size-xs: 11px;
  --font-size-sm: 14px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;
  --font-size-2xl: 43px;
  --font-size-3xl: 57px;
  --font-size-4xl: 76px;
  --font-size-5xl: 101px;
  --font-size-6xl: 135px;
  --font-size-7xl: 180px;
  --font-size-8xl: 240px;
  --font-size-9xl: 320px;
  --font-size-10xl: 427px;
  --letter-spacing-body: 0%;
  --letter-spacing-headlines: -1%;
  --letter-spacing-buttons: 3%;
  --letter-spacing-captions: 0%;
  --letter-spacing-nav-mobile-l1: 10%;
  --letter-spacing-nav-mobile-l2: 10%;
  --letter-spacing-nav-desktop-l1: 10%;
  --letter-spacing-nav-desktop-l2: 10%;
  --paragraph-spacing-default: 0;
  --text-case-none: none;
  --text-case-captions: none;
  --text-case-buttons: none;
  --text-case-body: none;
  --text-case-headlines: capitalize;
  --text-case-nav-mobile-l1: none;
  --text-case-nav-mobile-l2: none;
  --text-case-nav-desktop-l1: none;
  --text-case-nav-desktop-l2: none;
  --text-decoration-none: none;
  --text-decoration-buttons: none;
  --text-decoration-captions: none;
  --text-decoration-nav-mobile-l1: none;
  --text-decoration-nav-mobile-l2: none;
  --text-decoration-nav-desktop-l1: none;
  --text-decoration-nav-desktop-l2: none;
  --theme-bg-surface: #ffffff;
  --theme-bg-subtle: #eeeeee;
  --theme-bg-muted: #e0e0e0;
  --theme-bg-header: #ffffff;
  --theme-accent-disabled: #e0e0e0;
  --theme-accent-default: #3d53f5;
  --theme-accent-subtle: #eceefe;
  --theme-accent-muted: #6475f7;
  --theme-accent-emphasis: #3142c4;
  --theme-fg-default: #424242;
  --theme-fg-on-accent: #ffffff;
  --theme-fg-muted: #616161;
  --theme-fg-subtle: #9e9e9e;
  --theme-fg-on-disabled: #757575;
  --theme-fg-disabled: #bdbdbd;
  --theme-fg-on-header: #111111;
  --theme-warning-default: #b38327;
  --theme-warning-subtle: #fff8eb;
  --theme-warning-muted: #ffe4af;
  --theme-warning-emphasis: #ffbb38;
  --theme-warning-on-warning: #111111;
  --theme-info-default: #3142c4;
  --theme-info-subtle: #d8ddfd;
  --theme-info-muted: #8b98f9;
  --theme-info-emphasis: #3d53f5;
  --theme-info-on-info: #ffffff;
  --theme-error-default: #9c0f2e;
  --theme-error-subtle: #fce8ec;
  --theme-error-muted: #e95c7b;
  --theme-error-emphasis: #df1642;
  --theme-error-on-error: #ffffff;
  --theme-success-default: #11763d;
  --theme-success-subtle: #e8f6ee;
  --theme-success-muted: #5dc389;
  --theme-success-emphasis: #18a957;
  --theme-success-on-success: #ffffff;
  --theme-input-background: #ffffff;
  --theme-input-text: #424242;
  --theme-input-placeholder: #9e9e9e;
  --theme-input-border-default: #e0e0e0;
  --theme-input-border-disabled: #eeeeee;
  --theme-input-fg-disabled: #e0e0e0;
  --theme-shadow-default: #303133;
  --theme-shadow-opacity-base: 0.05;
  --theme-shadow-opacity-blur: 0.1;
      }