.colors-theme {
          --theme-bg-surface: #ffffff;
  --theme-bg-subtle: #eeeeee;
  --theme-bg-muted: #e0e0e0;
  --theme-bg-header: #ffffff;
  --theme-accent-disabled: #e0e0e0;
  --theme-accent-default: #3d53f5;
  --theme-accent-subtle: #eceefe;
  --theme-accent-muted: #6475f7;
  --theme-accent-emphasis: #3142c4;
  --theme-fg-default: #424242;
  --theme-fg-on-accent: #ffffff;
  --theme-fg-muted: #616161;
  --theme-fg-subtle: #9e9e9e;
  --theme-fg-on-disabled: #757575;
  --theme-fg-disabled: #bdbdbd;
  --theme-fg-on-header: #111111;
  --theme-warning-default: #b38327;
  --theme-warning-subtle: #fff8eb;
  --theme-warning-muted: #ffe4af;
  --theme-warning-emphasis: #ffbb38;
  --theme-warning-on-warning: #111111;
  --theme-info-default: #3142c4;
  --theme-info-subtle: #d8ddfd;
  --theme-info-muted: #8b98f9;
  --theme-info-emphasis: #3d53f5;
  --theme-info-on-info: #ffffff;
  --theme-error-default: #9c0f2e;
  --theme-error-subtle: #fce8ec;
  --theme-error-muted: #e95c7b;
  --theme-error-emphasis: #df1642;
  --theme-error-on-error: #ffffff;
  --theme-success-default: #11763d;
  --theme-success-subtle: #e8f6ee;
  --theme-success-muted: #5dc389;
  --theme-success-emphasis: #18a957;
  --theme-success-on-success: #ffffff;
  --theme-input-background: #ffffff;
  --theme-input-text: #424242;
  --theme-input-placeholder: #9e9e9e;
  --theme-input-border-default: #e0e0e0;
  --theme-input-border-disabled: #eeeeee;
  --theme-input-fg-disabled: #e0e0e0;
  --theme-shadow-default: #303133;
  --theme-shadow-opacity-base: 0.05;
  --theme-shadow-opacity-blur: 0.1;
      }