.typography-one-theme {
          --font-families-headlines: Heebo;
  --font-families-body: Heebo;
  --font-families-nav: Heebo;
  --font-weights-headlines-300: Light;
  --font-weights-headlines-400: Book;
  --font-weights-headlines-600: Medium;
  --font-weights-headlines-700: Bold;
  --font-weights-body-300: Light;
  --font-weights-body-400: Regular;
  --font-weights-body-600: SemiBold;
  --font-weights-body-700: Bold;
  --font-weights-nav-mobile-l1: Bold;
  --font-weights-nav-mobile-l2: Regular;
  --font-weights-nav-desktop-l1: Bold;
  --font-weights-nav-desktop-l2: Regular;
  --line-heights-headlines-xl: 110%;
  --line-heights-headlines-lg: 110%;
  --line-heights-headlines-default: 110%;
  --line-heights-headlines-sm: 130%;
  --line-heights-body-relaxed: 175%;
  --line-heights-body-default: 150%;
  --font-size-base: 16px;
  --font-size-scale: 1.2px;
  --font-size-xxs: 9px;
  --font-size-xs: 11px;
  --font-size-sm: 13px;
  --font-size-lg: 19px;
  --font-size-xl: 23px;
  --font-size-2xl: 28px;
  --font-size-3xl: 34px;
  --font-size-4xl: 41px;
  --font-size-5xl: 49px;
  --font-size-6xl: 59px;
  --font-size-7xl: 71px;
  --font-size-8xl: 85px;
  --font-size-9xl: 102px;
  --font-size-10xl: 122px;
  --letter-spacing-body: 0%;
  --letter-spacing-headlines: -1%;
  --letter-spacing-buttons: 3%;
  --letter-spacing-captions: 0%;
  --letter-spacing-nav-mobile-l1: 10%;
  --letter-spacing-nav-mobile-l2: 10%;
  --letter-spacing-nav-desktop-l1: 10%;
  --letter-spacing-nav-desktop-l2: 10%;
  --paragraph-spacing-default: 0;
  --text-case-none: none;
  --text-case-captions: none;
  --text-case-buttons: none;
  --text-case-body: none;
  --text-case-headlines: capitalize;
  --text-case-nav-mobile-l1: none;
  --text-case-nav-mobile-l2: none;
  --text-case-nav-desktop-l1: none;
  --text-case-nav-desktop-l2: none;
  --text-decoration-none: none;
  --text-decoration-buttons: none;
  --text-decoration-captions: none;
  --text-decoration-nav-mobile-l1: none;
  --text-decoration-nav-mobile-l2: none;
  --text-decoration-nav-desktop-l1: none;
  --text-decoration-nav-desktop-l2: none;
      }